.teacher-list-container {
  margin: 20px;
}
mat-card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}
.add-button {
  margin-left: auto;
}
mat-form-field {
  width: 100%;
  margin-bottom: 16px;
}
.table-container {
  position: relative;
  overflow: auto;
}
.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
}
table {
  width: 100%;
}
.mat-column-actions {
  width: 120px;
  text-align: right;
}
.mat-column-id {
  width: 70px;
}
.mat-column-materias {
  min-width: 200px; // Give more space for chips
}
mat-chip-listbox {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}
